extends layout

block content
  .container
    .content
    .fill
      input(type="text" name="massage" class="text" onkeypress="pressEnter(event)")
      input(type="button" value="Send" class="submit" id= "translate" onclick="transMessage()")